# ** This is a generic rule for all files (*) to convert ASCII (UTF-8) to zos-compatible (IBM-1047) EBCDIC.
#    This includes all application source code across all (**) folders
**              zos-working-tree-encoding=ibm-1047 git-encoding=utf-8

